[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/kapilbishnoi
[access "refs/for/refs/*"]
	read = group user/kapilbishnoi
	push = group user/kapilbishnoi
	label-Code-Review = -2..+2 group user/kapilbishnoi
	label-Verified = -1..+1 group user/kapilbishnoi
	rebase = group user/kapilbishnoi
	removeReviewer = group user/kapilbishnoi
	submit = group user/kapilbishnoi
[access "refs/heads/*"]
	read = group user/kapilbishnoi
	create = group user/kapilbishnoi
	push = +force group user/kapilbishnoi
	pushMerge = group user/kapilbishnoi
[access "refs/tags/*"]
	push = group user/kapilbishnoi
	push = +force group user/kapilbishnoi
